/**navegacion**/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px**/
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/**Globales**/

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}


/**Utilidades**/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

.contenido-centrado {
    max-width: 800px;
}

.navegacion {
    width: 100%;
    height: 6rem;
    background-color: #3790B0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    text-align: center!important;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

a.link-nav {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

div.barra-lateral {
    background-color: #587988;
    height: 100vh;
}